body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,
th,td{margin:0;padding:0;}
h1{font-size:18px;}
h2{font-size:16px;}
h3{font-size:14px;}
h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help;}
q:before,q:after{content:'';}
legend{color:#000;}
fieldset,img{border:none;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
hr{border:none;height:1px;}
html{overflow-y:scroll;}
#balloons{opacity: 0.3; z-index: -1000; position: fixed;}
*{font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", "Noto Sans", "Noto Sans CJK SC", "Noto Sans CJK", "Source Han Sans", "PingFang SC", "Segoe UI", "Microsoft YaHei", sans-serif;}
footer{height: 60px;text-align: center;font-size: 21px;position: fixed;bottom: 0;left: 0;right: 0;z-index: 100;background-color: rgba(255, 255, 255, 1);}
footer span a{color: deepskyblue;}
article{margin-bottom: 100px;margin-left: 70px;}
.gototop{position: fixed;bottom: 5px;right: 5px;height: 45px;width: 45px;z-index: 100;}
.img-gototop{height: 24px;}
.left-board{
    background-color: white;
    position: fixed;
    height: -webkit-fill-available;
    width: 63px;
}
.left{
    display: block;
    margin-bottom: 20px;
}
.en-box{
    height: 63px;
}
.word{
    text-align: center;
    color: rgb(59, 159, 192);
}
.outfolded{
    text-align: center;
    font-family: monospace;
    font-weight: 900;
    color: rgb(59, 159, 192);
}
#gitalk-container{
    margin-left: 70px;
    position: relative;
    bottom: 60px;
}